@import url("https://fonts.googleapis.com/css2?family=DM+Sans");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: rgb(51, 51, 51); */
  background-color: black;
  color: rgb(204, 204, 204)
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Navigation Bar */
nav {
  color: rgb(204, 204, 204);
  margin: 0px auto;
  width: 60vw;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  height: 50px;
  padding: 0px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

ul.sidebar li a {
  padding: 10px;
  margin: -25px;
}

nav a {
  text-decoration: none;
  color: rgb(204, 204, 204)
}

nav a:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.stickyNavbar li:first-child {
  margin-right: auto;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

nav:hover .navbar {
  opacity: 1;
  visibility: visible;
}

.stickyNavBar {
  position: fixed;
  top: 0;
  background-color: white;
  height: 50px;
}

/* Main */
main {
  width: 60vw;
  margin: 40px auto;
}

main a {
  text-decoration: none;
  color: rgb(119, 119, 119)
}

@media (max-width: 600px) {
  main {
    width: calc(100vw - 40px);
  }
  nav {
    width: 100vw;
  }
}

/* Footer */
footer {
  margin-top: 20px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 20px;
}

footer a {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

footer a:hover {
  background-color: #555;
}